* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: rgba(127, 102, 108, 0.725);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #685415;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60 px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal {
    width: 145px;

}

form input.operator {
    color: aquamarine;
}



























/* body {
    background-image: linear-gradient(140deg, #e56141 20%, #fdfdfd 50%, #3bd04a 75%);
    background-repeat: no-repeat;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 180px;
}

h1 {
    font-family: 'Chivo Mono', monospace;
    font-weight: 200;
    margin: 40px 0;
}


.btn {
    padding: auto;
    border: 2px solid black;
    border-radius: 20px;
    margin: 0 3px;
    width: 53px;
    height: 53px;
    background-color: #313131;
    color: white;
    font-size: large;
    box-shadow: 0 2px #999;
}

.clear-btn,
.eql-btn {
    width: 116px;
}

.operation-btn {
    background-color: #463763;
    color: black;
}

.row {
    margin: 5px 0;
}

.input {
    margin-top: 30px;
}

.input-box {
    margin: 2.5px;
    width: 14.5rem;
    font-size: 3rem;
    padding: 0 5px;
    margin-top: 20px;
    border-radius: 15px;
    text-align: right;
    background-color: black;
    border-style: none;
    color: white;
}

.container {
    width: 280px;
    margin: auto;
    background-color: black;
    padding-bottom: 15px;
    border-radius: 10px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.log-box {
    background-color: rgb(24, 23, 23);
    height: auto;
    width: 400px;
    display: block;
    position: absolute;
    top: 100px;
    right: 2;
    border-radius: 5px;
}

.log-head {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    top: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.log-body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 0px;
}

.heading {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    left: 10px;
    position: relative;
    padding-top: 3px;
}

.history-container {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;

    font-size: 12px;
}

.main {
    position: relative;

}


.blink {
    animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}

.btn:hover {
    background-color: #4b4b4b
}

.btn:active {
    background-color: #3d3d3d;
    box-shadow: 0 5px #b8b8b8;
    transform: translateY(2px);
} */